.button{
	background-color: #FF69B4;
	border: 0.8px solid black;
	border-radius: 60px;
	font-size: 19px;
	padding: 8px;
	margin-left: 13.5cm;
	margin-top: -5px;
	margin-bottom: 3rem;
	
}
.flex {
 display: grid;
 grid-template-columns: auto auto auto;
 grid-gap: 40px;
}
.card{
	font-size: 18px;
	width: 100%;
	height: 380px;
	cursor: pointer;
}