.button{
    margin-left: 13cm;
    margin-top: 15px;
    padding: 15px;
    border-radius: 2rem;
    align-content: center;
    color: yellow;
    background: linear-gradient(45deg, #bf26bfef 13%, #9aeb60 78%);
}
.myCard{
		font-size: 18px;
	width: 100%;
	height: 9.7cm;
	cursor: pointer;
}
.flex {
 display: grid;
 grid-template-columns: auto auto auto auto auto;
 grid-gap: 20px;
}