.button{
	background-color: #FF69B4;
	border: 0.8px solid black;
	border-radius: 60px;
	font-size: 19px;
	padding: 8px;
	margin-left: 23.5rem;
	margin-top: -5px;
	margin-bottom: 3rem;
	
}
.flex {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}